<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header id="header_id">
        <div class="logo">
            <img src="../static/imagens/logo.png" alt="logo">
        </div>
        <div class="relative">
            <a href="/" target="_self">Home | </a> 
            <a href="/contatos" target="_self">Contato | </a> 
            <a href="/quem_somos" target="_self">Quem somos</a>
        </div>
    </header>
    {% block conteudo %}

    {%endblock%}
    <footer id="footer">
        <h4>Todos os direitos reservados</h4>
    </footer>
</body>
</html>