{% extends "base.html" %}

{% block conteudo %}
<head>
    <title>Home</title>
</head>
<body background="../static/imagens/fundo.png">

    <div class="capa">
        <img src="../static/imagens/capa.png" alt="capa">
    </div>
    <h3>Sobre a Universidade</h3>
    <p></p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt earum exercitationem distinctio iste minima, in expedita inventore quisquam, blanditiis ea voluptates architecto officiis placeat nisi nulla animi error doloremque dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloribus fugiat ipsum tenetur eum, minus, iste similique optio dolore, sequi sapiente. Accusantium sapiente inventore nemo maiores debitis ab officiis sed?Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi velit minus saepe, blanditiis ducimus sed deserunt magnam sunt temporibus quo itaque, nostrum dolorem quidem tempore. Minima mollitia itaque iste asperiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <p>Suscipit nisi veniam quibusdam cumque, exercitationem aperiam eveniet laboriosam natus minus, sapiente omnis neque reiciendis dicta repudiandae optio aspernatur quis illo magnam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos est ipsam ratione consequuntur, commodi quaerat porro quam repellat iste enim magni ex tempore sit laborum unde odit dolores totam perspiciatis.</p>
    
</body>
{%endblock%}