{% extends "base.html" %}
{% block conteudo %}

<title>
    Quem somos
</title>

<body background="../static/imagens/fundo2.png"> 
    <h3>Quem somos</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo eum voluptatem veritatis consequatur nam reiciendis repellendus voluptate saepe mollitia qui impedit quibusdam necessitatibus, animi accusantium? Tempora voluptate quia est eveniet?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi labore, quod facilis tempore soluta eius est! Fugit saepe eligendi nesciunt repellat quidem. Corrupti quibusdam veniam totam recusandae, aut Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem maxime, voluptatibus repudiandae assumenda minus ipsum tempora iure labore tenetur natus itaque ratione voluptate dolores similique laborum nostrum laudantium rerum ex!</p>
    <h3>5 motivos para estudar</h3>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablet em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidad bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
    <h3>Objetivos</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati non, est ut debitis consequuntur amet sunt laboriosam voluptatum earum delectus esse et accusamus. Alias quisquam suscipit eaque accusamus aut. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus optio fuga dolorum expedita, voluptatum illum distinctio numquam sed incidunt. Necessitatibus quae, pariatur unde nam voluptates quisquam nemo ipsum hic cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempore adipisci at blanditiis sed velit labore perspiciatis, vero ipsam nihil alias non amet ex provident esse dolorum. Nesciunt, et fugiat?</p>
    
</body>
{%endblock%}